Repository stan-dev/stanc3, pull requests merged in 2022-01, with the labels that each got.

#1011 Fix issue with function shadowing
  src/stan_math_backend/Expression_gen.ml
  src/stan_math_backend/Stan_math_code_gen.ml
  src/stan_math_backend/Statement_gen.ml
  test/integration/cli-args/filename_good.expected
  test/integration/good/code-gen/cl.expected
  test/integration/good/code-gen/cpp.expected
  test/integration/good/code-gen/expressions/cpp.expected
  test/integration/good/code-gen/ode/cpp.expected
  test/integration/good/code-gen/opencl/cpp.expected
  test/integration/good/code-gen/profiling/cpp.expected
  test/integration/good/code-gen/shadowing.stan
  test/integration/good/code-gen/standalone_functions/cpp.expected
  test/integration/good/compiler-optimizations/cpp.expected
  test/integration/good/compiler-optimizations/cppO1.expected
  test/integration/good/nullary-unconflicted.stan
  test/integration/good/pretty.expected
  test/unit/Stan_math_code_gen_tests.ml
Labels: cpp-codegen

#1004 Add promoter expression
  src/analysis_and_optimization/Mem_pattern.ml
  src/analysis_and_optimization/Mir_utils.ml
  src/analysis_and_optimization/Monotone_framework.ml
  src/analysis_and_optimization/Optimize.ml
  src/analysis_and_optimization/Partial_evaluator.ml
  src/frontend/Ast.ml
  src/frontend/Ast_to_Mir.ml
  src/frontend/Canonicalize.ml
  src/frontend/Pretty_printing.ml
  src/frontend/SignatureMismatch.ml
  src/frontend/SignatureMismatch.mli
  src/frontend/Typechecker.ml
  src/middle/Expr.ml
  src/middle/Expr.mli
  src/middle/Stan_math_signatures.ml
  src/middle/UnsizedType.ml
  src/stan_math_backend/Expression_gen.ml
  test/integration/bad/algebra_solver/stanc.expected
  test/integration/bad/lang/bad_promotion1.stan
  test/integration/bad/lang/bad_promotions2.stan
  test/integration/bad/lang/bad_promotions3.stan
  test/integration/bad/lang/bad_promotions4.stan
  test/integration/bad/lang/stanc.expected
  test/integration/bad/stanc.expected
  test/integration/good/code-gen/complex_scalar.stan
  test/integration/good/code-gen/conditional_expression_types.stan
  test/integration/good/code-gen/cpp.expected
  test/integration/good/code-gen/expressions/cpp.expected
  test/integration/good/code-gen/expressions/ternary_if.stan
  test/integration/good/code-gen/mir.expected
  test/integration/good/code-gen/profiling/transformed_mir.expected
  test/integration/good/code-gen/promotion.stan
  test/integration/good/code-gen/transformed_mir.expected
  test/integration/good/compiler-optimizations/cpp.expected
  test/integration/good/compiler-optimizations/mem_patterns/cpp.expected
  test/integration/good/compiler-optimizations/mem_patterns/transformed_mir.expected
  test/integration/good/lang/good_complex.stan
  test/integration/good/lang/pretty.expected
  test/integration/good/parser-generator/pretty.expected
  test/integration/good/promotion/array_promotion.stan
  test/integration/good/promotion/complex_functions.stan
  test/integration/good/promotion/dune
  test/integration/good/promotion/newton_x_r_type.stan
  test/integration/good/promotion/newton_x_r_type_control.stan
  test/integration/good/promotion/pretty.expected
  test/integration/good/promotion/propto.stan
  test/integration/good/promotion/x_r_type.stan
  test/integration/good/promotion/x_r_type_control.stan
  test/unit/Optimize.ml
Labels: feature, robustness, cpp-codegen

#1029 turn back on allowing immediately assigned to decls not be NaN initialized
  src/analysis_and_optimization/Mir_utils.ml
  src/analysis_and_optimization/Mir_utils.mli
  src/analysis_and_optimization/Optimize.ml
  test/integration/good/compiler-optimizations/ad-levels-deep.stan
  test/integration/good/compiler-optimizations/cpp.expected
  test/integration/good/compiler-optimizations/cppO1.expected
  test/integration/good/compiler-optimizations/dune
  test/integration/good/compiler-optimizations/unenforce-initialize.stan
  test/unit/Optimize.ml
Labels: optimization
